<div class="box">
  <form method="post" action="/order">
    <!--Header nav-->
    <h1>Checkout - Address</h1>
    <div class="nav flex-column flex-md-row nav-pills text-center">
      <a
        href="checkout1.html"
        class="nav-link flex-sm-fill text-sm-center active"
        id="addressNavBtn"
      >
        <i class="fa fa-map-marker"> </i>Address</a
      ><a
        href="#"
        class="nav-link flex-sm-fill text-sm-center disabled"
        id="deliveryNavBtn"
      >
        <i class="fa fa-truck"> </i>Delivery Method</a
      ><a
        href="#"
        class="nav-link flex-sm-fill text-sm-center disabled"
        id="paymentNavBtn"
      >
        <i class="fa fa-money"> </i>Payment Method</a
      ><a
        href="#"
        class="nav-link flex-sm-fill text-sm-center disabled"
        id="reviewNavBtn"
      >
        <i class="fa fa-eye"> </i>Order Review</a
      >
    </div>

    <!--Address-->
    <div class="content py-3" id="addressCheckout">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Customer Name</label>
            <input
              name="name"
              id="name"
              type="text"
              readonly
              class="form-control"
              value="<%=user.name%>"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              name="email"
              id="email"
              type="email"
              readonly
              class="form-control"
              value="<%=user.email%>"
            />
          </div>
        </div>
      </div>
      <!-- /.row-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              name="phone"
              id="phone"
              type="text"
              required
              class="form-control"
              maxlength="10"
              onkeypress="return onlyNumberKey(event)"
              value="<%=user.phone%>"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              name="address"
              id="address"
              type="text"
              required
              class="form-control"
              value="<%=user.address%>"
            />
          </div>
        </div>
      </div>
      <div class="box-footer d-flex justify-content-between">
        <a href="/cart" class="btn btn-outline-secondary">
          <i class="fa fa-chevron-left"></i>Back to Cart
        </a>

        <a class="btn btn-primary" id="deliveryCheckoutBtn">
          <i class="fa fa-chevron-right"></i>Next
        </a>
      </div>
    </div>

    <!--Delivery method-->
    <div class="hidden" id="deliveryCheckout">
      <h1>Checkout - Delivery</h1>

      <div></div>

      <div class="box-footer d-flex justify-content-between">
        <a class="btn btn-outline-secondary" id="addressCheckoutBtn">
          Back<i class="fa fa-chevron-left"></i>
        </a>

        <a class="btn btn-primary" id="paymentCheckoutBtn">
          Next<i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <!--Payment method-->
    <div class="hidden" id="paymentCheckout">
      <h1>Checkout - Payment</h1>

      <div class="box-footer d-flex justify-content-between">
        <a class="btn btn-outline-secondary" id="deliveryCheckoutBtn">
          Back<i class="fa fa-chevron-left"></i>
        </a>

        <a class="btn btn-primary" id="reviewCheckoutBtn">
          Next<i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <!--Order Review-->
    <div class="hidden" id="reviewCheckout">
      <h1>Checkout - Review</h1>

      <div class="box-footer d-flex justify-content-between">
        <a class="btn btn-outline-secondary" id="paymentCheckoutBtn">
          Back<i class="fa fa-chevron-left"></i>
        </a>

        <button type="submit" class="btn btn-primary" id="confirmPurchase">
          Next and confirm<i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <!--footer btn-->
  </form>
</div>

<script>
  const address = document.getElementById("addressCheckout");
  const delivery = document.getElementById("deliveryCheckout");
  const payment = document.getElementById("paymentCheckout");
  const review = document.getElementById("reviewCheckout");

  const addressNavBtn = document.getElementById("addressNavBtn");
  const deliveryNavBtn = document.getElementById("deliveryNavBtn");
  const paymentNavBtn = document.getElementById("paymentNavBtn");
  const reviewNavBtn = document.getElementById("reviewNavBtn");

  const addressCheckoutBtn = document.getElementById("addressCheckoutBtn");
  const deliveryCheckoutBtn = document.getElementById("deliveryCheckoutBtn");
  const paymentCheckoutBtn = document.getElementById("paymentCheckoutBtn");
  const reviewCheckoutBtn = document.getElementById("reviewCheckoutBtn");

  addressCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to address");
    e.preventDefault();
    address.classList.remove("hidden");
    delivery.classList.add("hidden");
    payment.classList.add("hidden");
    review.classList.add("hidden");

    addressNavBtn.classList.remove("disabled");
    addressNavBtn.classList.add("active");
    deliveryNavBtn.classList.add("disabled");
    deliveryNavBtn.classList.remove("active");
    paymentNavBtn.classList.add("disabled");
    paymentNavBtn.classList.remove("active");
    reviewNavBtn.classList.add("disabled");
    reviewNavBtn.classList.remove("active");
  });

  deliveryCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to delivery");
    e.preventDefault();
    address.classList.add("hidden");
    delivery.classList.remove("hidden");
    payment.classList.add("hidden");
    review.classList.add("hidden");

    deliveryNavBtn.classList.remove("disabled");
    deliveryNavBtn.classList.add("active");
    addressNavBtn.classList.add("disabled");
    addressNavBtn.classList.remove("active");
    paymentNavBtn.classList.add("disabled");
    paymentNavBtn.classList.remove("active");
    reviewNavBtn.classList.add("disabled");
    reviewNavBtn.classList.remove("active");
  });

  paymentCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to payment");
    e.preventDefault();
    address.classList.add("hidden");
    delivery.classList.add("hidden");
    payment.classList.remove("hidden");
    review.classList.add("hidden");

    paymentNavBtn.classList.remove("disabled");
    paymentNavBtn.classList.add("active");
    deliveryNavBtn.classList.add("disabled");
    deliveryNavBtn.classList.remove("active");
    addressNavBtn.classList.add("disabled");
    addressNavBtn.classList.remove("active");
    reviewNavBtn.classList.add("disabled");
    reviewNavBtn.classList.remove("active");
  });

  reviewCheckoutBtn.addEventListener("click", (e) => {
    console.log("click next to review");
    e.preventDefault();
    address.classList.add("hidden");
    delivery.classList.add("hidden");
    payment.classList.add("hidden");
    review.classList.remove("hidden");

    reviewNavBtn.classList.remove("disabled");
    reviewNavBtn.classList.add("active");
    deliveryNavBtn.classList.add("disabled");
    deliveryNavBtn.classList.remove("active");
    paymentNavBtn.classList.add("disabled");
    paymentNavBtn.classList.remove("active");
    addressNavBtn.classList.add("disabled");
    addressNavBtn.classList.remove("active");
  });
</script>
