<div id="order-summary" class="box">
    <div class="box-header">
        <h3 class="mb-0">Tóm tắt đơn hàng</h3>
    </div>
    <p class="text-muted">Chi phí vận chuyển và chi phí bổ sung được tính dựa trên các giá trị bạn đã nhập.</p>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Tổng phụ đặt hàng</td>
                    <th>$446.00</th>
                </tr>
                <tr>
                    <td>Vận chuyển và xử lý</td>
                    <th>$10.00</th>
                </tr>
                <tr>
                    <td>Thuế</td>
                    <th>$0.00</th>
                </tr>
                <tr class="total">
                    <td>Tổng</td>
                    <th>$456.00</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>