<!-- FOOTER ============================= -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Trang</h4>
        <ul class="list-unstyled">
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/products">Sản phẩm</a></li>
          <li><a href="/cart">Giỏ hàng</a></li>
          <li><a href="contact.html">Liên hệ chúng tôi</a></li>
        </ul>
        <hr />
        <h4 class="mb-3">Người dùng</h4>
        <ul class="list-unstyled">
          <li><a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a></li>
          <li><a href="register.html">Đăng kí</a></li>
        </ul>
      </div>
      <!-- /.col-lg-3-->
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Top những sản phẩm</h4>
        <h5>Thương hiệu</h5>
        <ul class="list-unstyled">
          <li><a href="/products?brand=nike">Nike</a></li>
          <li><a href="/products?brand=adidas">Adidas</a></li>
          <li><a href="/products?brand=puma">Puma</a></li>
        </ul>
        <h5>Loại giày</h5>
        <ul class="list-unstyled">
          <li><a href="/products?category=football">Bóng đá</a></li>
          <li><a href="/products?category=basketball">Bóng rổ</a></li>
          <li><a href="/products?category=skateboard">Trượt ván</a></li>
          <li><a href="/products?category=casual">Thông dụng</a></li>
        </ul>
      </div>
      <!-- /.col-lg-3-->
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Chi nhánh của cửa hàng</h4>
        <p>
          <strong>Hyper Ltd.</strong><br />Thủ Đức<br />TP.Hồ Chí Minh<br /><br /><strong
            >Việt Nam</strong
          >
        </p>
        <a href="/">Đi đến trang liên hệ cửa hàng</a>
        <hr class="d-block d-md-none" />
      </div>
      <!-- /.col-lg-3-->
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Những thông tin mới nhất</h4>
        <p class="text-muted">
          Thế giới thời trang không ngừng phát triển với những mẫu giày mới và đẹp được tung ra nhiều trên thị trường thế giới.
        </p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" /><span class="input-group-append">
              <button type="button" class="btn btn-outline-secondary">
                Subscribe!
              </button></span
            >
          </div>
          <!-- /input-group-->
        </form>
        <hr />
        <h4 class="mb-3"> Liên lạc</h4>
        <p class="social">
          <a href="#" class="facebook external"><i class="fa fa-facebook"></i></a
          ><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a
          ><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a
          ><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a
          ><a href="#" class="email external"><i class="fa fa-envelope"></i></a>
        </p>
      </div>
      <!-- /.col-lg-3-->
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container-->
</div>
<!-- /#footer-->
<!-- *** FOOTER END ***-->

<!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-2 mb-lg-0">
        <p class="text-center text-lg-left">©2022 Hyper Team</p>
      </div>
      <div class="col-lg-6">
        <p class="text-center text-lg-right">
          Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
          <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
        </p>
      </div>
    </div>
  </div>
</div>
<!-- *** COPYRIGHT END ***-->
<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
<script src="/js/front.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
  integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
  crossorigin="anonymous"
></script>
