<div id="advantages" >
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <h3><a href="#">Chúng tôi tự hào về sản phẩm của mình</a></h3>
                    <p class="mb-0">Sản phẩm của cửa hàng luôn đạt chất lượng cao nhất có thể.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <h3><a href="#">Giá thành tốt nhất</a></h3>
                    <p class="mb-0">Các sản phẩm ở cửa hàng luôn được bán với giá thành tốt nhất có thể.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h3><a href="#">Đảm bảo mức độ hài lòng của khách hàng</a></h3>
                    <p class="mb-0">Trung tâm hỗ trợ khách hàng tốt nhất để giúp khác hàng có được sự hài lòng tốt nhất.</p>
                </div>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>