<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="main-slider" class="owl-carousel owl-theme">
          <div class="item">
            <img
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a5777e156114087.636155615221c.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="item">
            <img
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e36d0a156114087.636155615430e.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="item">
            <img
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9ef300156114087.63615561564b7.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <!-- <div class="item"><img src="img/viewer-4.jpg" alt="" class="img-fluid" /></div> -->
        </div>
        <!-- /#main-slider-->
      </div>
    </div>
  </div>
  <!-- ADVANTAGES HOMEPAGE ======================================= -->
  <%- include('./advantagesHomepage')%>
</div>
