<%- include('../includes/head.ejs') %>
   <link rel="stylesheet" href="/css/login.css" />
   <link rel="stylesheet" href="/css/style.css" />
   </head>
   <body>
               <!-- LOGN IN FORM by Omar Dsoky -->
         <form method="POST" class="login__form">
            <!--   con = Container  for items in the form-->
            <div class="con">
               <!--     Start  header Content  -->
               <header class="head-form">
                  <h2>Đăng nhập</h2>
                  <!--     A welcome message or an explanation of the login form -->
                  <p>Đăng nhập tại đây bằng tài khoản và mật khẩu</p>
                  <!--     Display error -->
                  <div hidden id="displayError" class="alert alert-warning" role="alert"></div>
               </header>
               <!--     End  header Content  -->
               <br>
               <div class="field-set">

                  <div
                  hidden
                  id="displayError"
                  class="alert alert-warning"
                  role="alert"
               ></div>

                  <!--   user name Input-->
                  <input class="form-input" id="txt-input" type="text" placeholder="Tài khoản" name="email" required>

                  <br>

                  <input class="form-input" type="password" placeholder="Mật khẩu" id="pwd" name="password" required>

                  <br>
                  <!--        buttons -->
                  <!--      button LogIn -->
                  <button class="log-in"> Đăng nhập </button>
               </div>

               <!--   other buttons -->
               <%/*%>
               <div class="other">
                  <!--      Forgot Password button-->
                  <button class="btn submits frgt-pass">Quên mật khẩu</button>
                  <!--     Sign Up button -->
                  <button class="btn submits sign-up">Đăng kí
                     <!--         Sign Up font icon -->
                     <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </button>
                  <!--      End Other the Division -->
               </div>
               <%*/%>
               
               <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
         </form>
         <!-- <%-include('../includes/foot')%> -->
      </div>
       

   </body>
   <%- include("../includes/foot") %>
   <script src="/ajax/auth-ajax.js"></script>


   </html>