<%- include('../includes/head.ejs') %>
 <link href="css/style.css" rel="stylesheet">
 </head>
 <body>
     <%- include('../includes/mainHeader', {user})%>

	<body>
		<%- include('../includes/mainHeader', {user})%>

			<!-- AREA =============================-->



	</body>

	</html>