<li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
    data-delay="200" class="dropdown-toggle nav-link">Template<b class="caret"></b></a>
<ul class="dropdown-menu megamenu">
    <li>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h5>Shop</h5>
                <ul class="list-unstyled mb-3">
                    <li class="nav-item"><a href="/" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item"><a href="/products" class="nav-link">Danh mục - thanh bên trái</a></li>
                    <li class="nav-item"><a href="category-right.html" class="nav-link">Danh mục - thanh bên phải</a></li>
                    <li class="nav-item"><a href="category-full.html" class="nav-link">Danh mục - độ rộng đầy đủ</a></li>
                    <li class="nav-item"><a href="detail.html" class="nav-link">Chi tiết sản phẩm</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5>User</h5>
                <ul class="list-unstyled mb-3">
                    <li class="nav-item"><a href="register.html" class="nav-link">Đăng kí /
                            Đăng nhập</a></li>
                    <li class="nav-item"><a href="customer-orders.html" class="nav-link">Lịch sử đặt hàng</a></li>
                    <li class="nav-item"><a href="customer-order.html" class="nav-link">Chi tiết lịch sử đặt hàng</a></li>
                    <li class="nav-item"><a href="customer-wishlist.html"
                            class="nav-link">Danh sách yêu thích</a></li>
                    <li class="nav-item"><a href="customer-account.html" class="nav-link">Tài khoản khách hàng / Đổi mật khẩu</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5>Đặt hàng</h5>
                <ul class="list-unstyled mb-3">
                    <li class="nav-item"><a href="basket.html" class="nav-link">Giỏ hàng</a>
                    </li>
                    <li class="nav-item"><a href="checkout1.html" class="nav-link">Thủ tục thanh toán - bước
                            1</a></li>
                    <li class="nav-item"><a href="checkout2.html" class="nav-link">Thủ tục thanh toán - bước
                            2</a></li>
                    <li class="nav-item"><a href="checkout3.html" class="nav-link">Thủ tục thanh toán - bước
                            3</a></li>
                    <li class="nav-item"><a href="checkout4.html" class="nav-link">Thủ tục thanh toán - bước
                            4</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5>Tang chủ và Blog</h5>
                <ul class="list-unstyled mb-3">
                    <li class="nav-item"><a href="blog.html" class="nav-link">Danh sách Blog</a></li>
                    <li class="nav-item"><a href="post.html" class="nav-link">Bài viết trên Blog</a></li>
                    <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>
                    <li class="nav-item"><a href="text.html" class="nav-link">Trang</a></li>
                    <li class="nav-item"><a href="text-right.html" class="nav-link">Trang -
                            thanh bên phải</a></li>
                    <li class="nav-item"><a href="404.html" class="nav-link">404 page</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
</li>