<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offer mb-3 mb-lg-0">
        <% if(!user) { %>
        <div class="btn btn-success btn-sm">Đăng nhập để có trải nghiệm tốt nhất.</div>
        <% } else { %>
        <div class="btn btn-success btn-sm">Xin chào, <%=user.name%></div>
        <% } %>
      </div>  
    </div>
  </div>
  <div
    id="login-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="Login"
    aria-hidden="true"
    class="modal fade"
  >
    <%/* này là để comment%> quăng cái popup đăng nhập vô comment đó bờ gô
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Đăng nhập khách hàng</h5>
          <button
            type="button"
            data-dismiss="modal"
            aria-label="Close"
            class="close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/auth/signin" method="post">
            <div class="form-group">
              <input
                id="email-modal"
                type="text"
                name="email"
                placeholder="email"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                id="password-modal"
                type="password"
                name="password"
                placeholder="password"
                class="form-control"
              />
            </div>
            <p class="text-center">
              <button class="btn btn-primary">
                <i class="fa fa-sign-in"></i> Đăng nhập
              </button>
            </p>
          </form>
          <p class="text-center text-muted">Chưa đăng kí?</p>
          <p class="text-center text-muted">
            <a href="/auth/signup"><strong>Đăng kí ngay bây giờ</strong></a
            >! Nó dễ dàng và được thực hiện trong 1 phút và cho phép bạn tiếp cận với các chương trình giảm giá đặc biệt và hơn thế nữa!
          </p>
        </div>
      </div>
    </div>

    <%*/%>
  </div>
</div>
