
<%- include('../includes/head')%>
</head>

<body>
    <!-- HEADER ============================================ -->
    <%- include('../includes/header/header', {user})%>

    <!-- TOPAREA ============================================== -->
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Kiểm tra địa chỉ</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- CHECKOUT TABLE ==================================== -->
                    <div id="checkout" class="">
                        <%- include('../includes/cart/checkoutTable', {user, cart})%>
                    </div>

                    <!-- ORDER SUMMARY ===================================== -->
                    <!-- <div class="col-lg-3">
                        <div id="advantages" >
                            <div class="container">
                                <div class="row mb-4 display-column">
                                    <div class="col-md-12">
                                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                            <div class="icon"><i class="fa fa-heart"></i></div>
                                            <h3><a href="#">Chúng tôi tự hào về sản phẩm của mình</a></h3>
                                            <p class="mb-0">Sản phẩm của cửa hàng luôn đạt chất lượng cao nhất có thể.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                            <div class="icon"><i class="fa fa-tags"></i></div>
                                            <h3><a href="#">Giá thành tốt nhất</a></h3>
                                            <p class="mb-0">Các sản phẩm ở cửa hàng luôn được bán với giá thành tốt nhất có thể.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                            </div>
                            <!-- /.container-->
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
<%-include('../includes/footer/foot')%>
<script>
    
    function onlyNumberKey(evt) {
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }

    const addressView = document.getElementById('addressView');
const orderReviewView = document.getElementById('orderReviewView');
const switchToAddress = document.getElementById('switchToAddress');
const switchToOrderReview = document.getElementById('switchToOrderReview');

switchToAddress.onclick = () => {

  switchToAddress.className = 'nav-link flex-sm-fill text-sm-center active';
  switchToOrderReview.className = 'nav-link flex-sm-fill text-sm-center';
  addressView.hidden = false
  orderReviewView.hidden = true
};

switchToOrderReview.onclick = () => {

  switchToAddress.className = 'nav-link flex-sm-fill text-sm-center';
  switchToOrderReview.className = 'nav-link flex-sm-fill text-sm-center active';
  addressView.hidden = true
  orderReviewView.hidden = false
};

</script>
</body>
</html>