/* your styles go here */

/* Ultility */
.red-color {
  color: red;
}

.item-quantity {
  width: auto;
  min-width: 75px;
}

.light-gray-color {
  color: rgb(129, 129, 129);
}

.medium-text {
  font-size: 20px;
  font-weight: 500;
}

.divide {
  border: 1px solid rgb(218, 218, 218);
  margin: 10px 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.display-row {
  display: flex;
  flex-direction: row;
}
.display-column {
  display: flex;
  flex-direction: column;
}

/* Product */
.feedback {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.comment {
}

.customer-avatar {
  display: flex;
  align-items: center;
}

.comment-content {
  margin-left: 35px;
}

.response {
  margin-left: 40px;
  background-color: rgb(219, 219, 219);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.response-content {
  margin-left: 25px;
}

.add-comment input {
  border: none;
  outline: none;
  width: 100%;
}

/* =========================== USER PROFILE ======================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper-profile {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px;
  background-color: whitesmoke;
  margin-bottom: 30px;
}

h4 {
  letter-spacing: -1px;
  font-weight: 400;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
}

#img-section p,
#deactivate p {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify;
}

#img-section b,
#img-section button,
#deactivate b {
  font-size: 14px;
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px;
}

.form-control {
  border-radius: 10px;
}

input[placeholder] {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #0779e4;
}

select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px;
}

select:focus {
  outline: none;
}

/* .button {
    background-color: #fff;
    color: #0779e4
} */

/* .button:hover {
    background-color: #0779e4;
    color: #fff
} */

/* .btn-primary {
    background-color: #0779e4
} */

.danger {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd;
}

.danger:hover {
  background-color: #e20404;
  color: #fff;
}

@media (max-width: 576px) {
  .wrapper {
    padding: 25px 20px;
  }

  #deactivate {
    line-height: 18px;
  }
}

#save-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#save-profile button {
  background-color: #00bba7;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin-left: 30px;
}
#save-profile button:hover {
  background-color: rgb(137, 137, 212);
  color: black;
}

#back-to-user-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* ===================== CART ====================== */
.delete-product-btn:hover {
  cursor: pointer;
  color: #00bba7;
}

.hidden {
  display: none;
}

.choosed {
  background-color: #4fbfa8;
  color: #fff;
}

#delivery-option-group {
  position: relative;
  display: block;
  width: 40%;
  height: fit-content;
}

.delivery-option-item {
  border: 2px outset #4fbfa8;
  border-radius: 10px;
  margin: 10px;
}

.delivery-label {
  background-color: #269b8f;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  width: 100%;
}

#delivery-cost {
  width: 50%;
  height: inherit;
  border: 2px outset #000000;
  border-radius: 10px;
  margin-left: 10%;
  font-size: 20px;
  padding: 5px;
}

.display-flex {
  display: flex;
}

#cost {
  margin-top: 70%;
}
/* ====payment==== */

#bg-div {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}
#border-btm {
  padding-bottom: 20px;
  margin-bottom: 0px;
  box-shadow: 0px 35px 2px -35px lightgray;
}
#test {
  margin-top: 0px;
  margin-bottom: 40px;
  border: 1px solid #ffe082;
  border-radius: 0.25rem;
  width: 60px;
  height: 30px;
  background-color: #ffecb3;
}
.active1 {
  color: #00c853 !important;
  font-weight: bold;
}
.bar4 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
}
.list-group .tabs {
  color: #000000;
}
#menu-toggle {
  height: 50px;
}
#new-label {
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  background-color: red;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 5px;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.list-group-item.active {
  z-index: 2;
  color: rgb(5, 186, 140);
  background-color: #fff !important;
  border-color: #fff !important;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    display: none;
  }
}
.card0 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-highlight {
  color: #00c853;
  font-weight: bold;
  font-size: 20px;
}
.form-card input,
.form-card textarea {
  padding: 10px 15px 5px 15px;
  border: none;
  border: 1px solid lightgrey;
  border-radius: 6px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: arial;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}
.form-card input:focus,
.form-card textarea:focus {
  -moz-box-shadow: 0px 0px 0px 1.5px skyblue !important;
  -webkit-box-shadow: 0px 0px 0px 1.5px skyblue !important;
  box-shadow: 0px 0px 0px 1.5px skyblue !important;
  font-weight: bold;
  border: 1px solid skyblue;
  outline-width: 0;
}
input.btn-success {
  height: 50px;
  color: #ffffff;
  opacity: 0.9;
}
#below-btn a {
  font-weight: bold;
  color: #000000;
}
.input-group {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.input-group input {
  position: relative;
  height: 90px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 6px;
  padding-top: 30px;
  padding-left: 25px;
}
.input-group label {
  position: absolute;
  height: 24px;
  background: none;
  border-radius: 6px;
  line-height: 48px;
  font-size: 15px;
  color: gray;
  width: 100%;
  font-weight: 100;
  padding-left: 25px;
}
input:focus + label {
  color: #1e88e5;
}

#qr {
  margin-bottom: 150px;
  margin-top: 50px;
}

#payment-tab {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
