<div class="box">
  <h1>Đăng nhập vào <strong>Hyper Shop</strong></h1>
  </p>
  <hr />
  <form method="post">
    <div
      hidden
      id="displayError"
      class="alert alert-warning"
      role="alert"
    ></div>
    <!-- Success message display -->
    <% if(typeof(success_msg) != "undefined" ){ %>
    <div class="alert alert-success" role="alert"><%= success_msg%></div>
    <% } %>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" name="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input
        id="password"
        type="password"
        name="password"
        class="form-control"
      />
    </div>
    <div class="text-center">
      <button id="loginBtn" type="submit" class="btn btn-primary log-in">
        <i class="fa fa-sign-in log-in"></i> Đăng nhập
      </button>
    </div>
  </form>

  <a href="/auth/reset">Quên mật khẩu?</a>
</div>
