<%- include('../includes/head')%>
</head>
<body>
    <!-- HEADER ================================= -->
    <%- include('../includes/header/header', {user})%>

    <!-- TOP AREA =================================================== -->
    <div id="all">
        <div id="content">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                  <%- include('./newAccount')%>
              </div>
            </div>
          </div>
        </div>
    </div>
<%-include('../includes/footer/foot')%>